body
{
    background-color: #F9F5EB;
}


.bg-color-1
{
    background-color: #F9F5EB;
}
.bg-color-2
{
    background-color: #E4DCCF;
}
.bg-color-3
{
    background-color: #EA5455;
}
.bg-color-4
{
    background-color: #002B5B;
}


.text-color-1
{
    color: #F9F5EB;
}
.text-color-2
{
    color: #E4DCCF;
}
.text-color-3
{
    color: #EA5455;
}
.text-color-4
{
    color: #002B5B;
}