body
{
    background-color: #F9F5EB;
    max-width: 100%;
    
}


.bg-color-1
{
    background-color: #F9F5EB;
}
.bg-color-2
{
    background-color: #0081C9;
}
.bg-color-3
{
    background-color: #5BC0F8;
}
.bg-color-4
{
    background-color: #FFC93C;
}


.text-color-1
{
    color: #F9F5EB;
}
.text-color-2
{
    color: #0081C9;
}
.text-color-3
{
    color: #5BC0F8;
}
.text-color-4
{
    color: #FFC93C;
}

.title-footer{
    text-align:center;
    font-size:15px;
    font-weight: bold;
}

@font-face {
    font-family: 'Coolvetica';
    src: url('fonts/coolvetica.woff2') format('woff2'),
         url('fonts/coolvetica.woff') format('woff');
    /* Agrega más formatos si los tienes, como .ttf o .otf */
    font-weight: normal;
    font-style: normal;
  }
  
  /* Aplicar la fuente Coolvetica a todos los h1 */
  h1 {
    font-family: 'Coolvetica', sans-serif;
  }

  .linke{
    color: #F9F5EB;
    transition: color 0.3s, cursor 0.3s;
  }
  .linke:link{
    text-decoration: none;
  }
  .linke:hover {
    color: #FFC93C;
    cursor: pointer;
  }